@import "tailwindcss";

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

body {
    color: #fff;
    background: #000;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.weather-container {
  width: 90%
}

.chart-labels {
  fill: white;
}

.MuiChartsAxis-tickLabel {
  /* fill: white !important; */
}

.weather-tiles {
  align-self: center;
}

.align-center {
  align-content: center;
}